
body
{
    background-color: #2c3043;
}
.wrapper
{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 15px;
}
.box {
    border-radius: 5px;
    padding: 30px;
  }
  
  .a 
    {
      background-color: #fc6057;
      padding-bottom: 250px;
 
    }
    .b 
    {
        background-color: #fd825c;
    }
    .c 
    {
      background-color: #fda061;  
    }
    .d {
      background-color: #01a787;
      padding-bottom: 250px;  

    }
    .e 
    {
      background-color: #1bc1a1;  
    }
    .f 
    {
      background-color: #34daba;  

    }