*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-wrap: wrap;
    
}

body
{
    margin: 0px;
}
header
{
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    background-color: #25404b;
    color: white;

}

#links
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#additional-info
{
    padding-right: 15px;
    color: white;
}

.middle
{
    padding-top: 40px;
    background-color: rgb(185, 125, 45);
    color: white;
    
}

#newsletter
{
    display: flex;
    flex-direction: row;
    background-color: #25404b;
    text-align: center;
    justify-content: center;
    color: white;
}

.form
{
    padding-top: 17px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: white;
}
input[type = text]
{
    display: flex;
    flex-direction: row;
    color: gray;
    padding-right: 10px;
    margin-right: 5px;

}
input[type = submit]
{
    background-color: #a86a18;
    border-style: none;
    font-weight: 550;
    color: white;
}

#main-title
{   display: flex;
    flex-direction: row;
    justify-content: center;
}


#information
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: small;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 60px;
    overflow-wrap: break-word;
}

.down-info
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 40px;
    padding-bottom: 54px;
    justify-content: space-between;
    overflow-wrap: break-word;
}
.text
{
    font-size: 10px;
    padding-left: 50px;
    justify-content: flex-start;
    overflow-wrap: break-word;
}

.txt
{
    font-size: 10px;
    padding-right: 50px;
    justify-content: flex-start;
    overflow-wrap: break-word;
}

#imgs
{
    display: flex;
    flex-direction: column;

}
footer
{   background-color: #25404b;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}